#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
# Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
# Create a Table
cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name TEXT Not Null,
        age Integer,
        department text    
    )
''')

## Commit the changes
connection.commit()

In [5]:
# Insertion

cursor.execute('''
   Insert into Employees(name,age,department) 
        values('Dhrupad',23,'Software Enginner') 
''')

cursor.execute('''
   Insert into Employees(name,age,department) 
        values('Dhruv',33,'Statistician') 
''')

cursor.execute('''
   Insert into Employees(name,age,department) 
        values('Mithila',26,'Actor') 
''')

##commit
connection.commit()

In [6]:
# Query Data from the table

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Dhrupad', 23, 'Software Enginner')
(2, 'Dhruv', 33, 'Statistician')
(3, 'Mithila', 26, 'Actor')

In [8]:
# Update the data

cursor.execute('''
    UPDATE employees
    Set age=22
    where name='Dhrupad'
''')

connection.commit()

In [9]:
# Query Data from the table

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Dhrupad', 22, 'Software Enginner')
(2, 'Dhruv', 33, 'Statistician')
(3, 'Mithila', 26, 'Actor')

In [10]:
# Delete the Data
cursor.execute('''
    Delete from employees
               where name='Dhruv'
''')

connection.commit()

In [11]:
# Query Data from the table

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Dhrupad', 22, 'Software Enginner')
(3, 'Mithila', 26, 'Actor')

In [12]:
# Actual Example

connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

#Create a table
cursor.execute('''
    Create Table If not Exists sales(
        id Integer Primary Key,
        date Text NOT NULL,
        product Text NOT NULL,
        sales Integer,
        region Text
    )
''')

In [13]:
# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
    Insert into sales(date,product,sales,region) values(?,?,?,?)
''',sales_data)

connection.commit()

In [14]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [15]:
## close the connection
connection.close()