In [ ]:
#Arithmetic Operators
print(5+6)
print(5-6)
print(5*6)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators

print(4>5)
print(4<5)
print(4>=4)
print(4==4)
print(4!=4)

False
True
True
True
False

In [ ]:
#Logical Operators

print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [ ]:
#Bitwise Operators

#Bitwise and
print(2 & 3)

#Bitwise or
print(2 | 3)

#Bitwise xor
print( 2 ^ 2)

print(~3)

print( 4 >> 2)

print(4 << 2)

2
3
0
-4
1
16

In [ ]:
# Assignment Operators

a=2

a%=2

print(a)

0

In [1]:
#Membership Operators

#in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [4]:
# Program - Find the sum of a 3 digit number entered by the user

num=int(input('Enter the number'))

sum=0
while(num !=0):
  digit=num%10
  sum=sum+digit
  num=num//10

print(sum)

Enter the number666
18

If-else in Python

In [8]:
# login program and indentation
# email -> dhrupad@gmail.com
# password -> 1234

email=input('Enter your email')
password=input('Enter your pasword')

if email=='dhrupad@gmail.com'and password== '1234' :
  print('Login Successful')
elif email=='dhrupad@gmail.com' and password != '1234':
  print('Incorrect Password')
  password=input('Enter Correct password')
  if password=='1234':
    print('Login Done Finally')
  else:
    print('You have succesfully forgotten your password')

else:
  print('Incorrect Email')

Enter your emaildhrupad@gmail.com
Enter your pasword1435
Incorrect Password
Enter Correct password1234
Login Done Finally

In [9]:
# min of 3 number

a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
c=int(input('Enter the third number'))

if a<b and a<c:
  print('a is minimum')
elif b<c:
  print('b is minimum')
else:
  print('c is minimum')

Enter the first number12
Enter the second number22
Enter the third number3
c is minimum

# Modules in Python
- math
- keywords
- random
- datetime

In [10]:
#math

import math

math.sqrt(225)

15.0

In [11]:
#keyword

import keyword

print(keyword.kwlist)

# it will print out the list of keywords in Python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [22]:
#random

import random

print(random.randint(1,5))

3

In [23]:
# datetime

import datetime
print(datetime.datetime.now())

2024-07-10 06:51:18.244273

# Loops in Python

- While Loop
- For Loop

In [24]:
# While loop example -> program to print the table

n=int(input('Enter the number'))
i=1

while i<=10:
  print(n,'*',i,'=',n*i)
  i=i+1

Enter the number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [25]:
# For loop demo

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10